name: .NET Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  solutionPath: "src/ShoppingCart.sln"


jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      # Checkout source
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed for git versioning logic

      # Install .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x" # or 7.0.x / 6.0.x etc.
      
      # Setup GitVersion
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: '6.4.x'  
      
      # Execute GitVersion
      - name: Determine Version
        id: version_step # step id used as a reference for output values
        uses: gittools/actions/gitversion/execute@v4.2.0
      
      - name: Print GitVersion
        run: echo ${{ steps.version_step.outputs.semVer }}
      
      # Restore packages
      - name: Restore dependencies
        run: dotnet restore ${{ env.solutionPath }}

      # Static Code Analysis
      - name: ReSharper Inspect Code
        uses: muno92/resharper_inspectcode@v1
        with:
          solutionPath: ${{ env.solutionPath }}
          minimumSeverity: 'warning'
          
      - name: Upload Inspection Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: resharper-results
          path: results.sarif

      # Build
      - name: Build
        run: dotnet build ${{ env.solutionPath }} --configuration Release --no-restore
      
      # Test
      - name: Test
        run: dotnet test ${{ env.solutionPath }} --configuration Release --no-build